.landing-page {
    margin-top: 7rem;
    /* padding: 4.8rem 0 9.6rem 0; */
}


/***************************************** Hero section *******************************************/
.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 15rem 4rem;
    max-width: 92rem;
    margin: 0 auto;
    padding-bottom: 9.6rem;
}

.hero-img {
    width: 100%;
}

.hero-text-box {
    text-align: left;
}

.hero-heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 2rem;
    letter-spacing: -3px;
    font-weight: 700;
    color: #40196d;
    max-width: 395px;
}

.hero-description {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #000;
    max-width: 270px;
}

.hero-img-box {
display: flex;
justify-content: end;
}

@keyframes spinner1 {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin1-cover {
    border: solid 2px #ebeef0;
    border-radius: 50%; 
    height: 390px;
    width: 390px;
    position: absolute;
    top: 19.5%;
    left: 53%;
   
  }

  .spin1::after {
    animation: 5.5s linear infinite spinner1;
    animation-play-state: inherit;
    content: url("src/Assets/img/dollar.png");
    height: 320px;
    width: 320px;
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    z-index: 9;
}
@keyframes spinner2 {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin2-cover {
    border: solid 2px #ebeef0;
    border-radius: 50%; 
    height: 295px;
    width: 295px;
    position: absolute;
    top: 28%;
    left: 58.5%;
  }
.spin2::after {
    animation: 6.5s linear infinite spinner2;
    animation-play-state: inherit;
    border-radius: 50%;
    content: url("src/Assets/img/card.png");
    height: 250px;
    width: 250px;
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    z-index: 9;
}
@keyframes spinner3 {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin3-cover {
    border: solid 2px #ebeef0;
    border-radius: 50%; 
    height: 182px;
    width: 182px;
    position: absolute;
    top: 38.5%;
    left: 65%;
  }
.spin3::after {
    animation: 4.5s linear infinite spinner3;
    animation-play-state: inherit;
    border-radius: 50%;
    content: url("src/Assets/img/naira.png");
    height: 390px;
    width: 390px;
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    z-index: 1;

}

.heroIcon {
    position: absolute;
    top: 18%;
    left: 60%;
    z-index: 2;

}
.heroIcon img{
    width: 64%;
}


/***************************************** Save section *******************************************/


.save {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15rem;
}

.save-heading {
    font-size: 4rem;
    line-height: 1.05;
    margin-bottom: 2.4rem;
    letter-spacing: -3px;
    line-height: 1.1;
    font-weight: 700;
    color: #40196d;
}

.save-description {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #555;
    width: 80%;
}

.save-text-box {
    text-align: left;
    align-self: center;;
}

.save-img {
    width: 80%;
    
}

.save-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-img-box::before {
    content: "";
    display: block;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;

    /* 90% of parent's width */
    padding-bottom: 90%;
    background-color: #d0d0fa;
    z-index: -2;
}
/***************************************** Spend section *******************************************/


.spend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20rem;
}

.spend-heading {
    font-size: 4rem;
    line-height: 1.05;
    margin-bottom: 2.4rem;
    letter-spacing: -3px;
    line-height: 1.1;
    font-weight: 700;
    color: #40196d;
}

.spend-description {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #555;
    width: 80%;
}

.spend-text-box {
    text-align: left;
    margin-left: 10rem;
    align-self: center;
}

.spend-img {
    width: 60%;
}

.spend-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spend-img-box::before {
    content: "";
    display: block;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);

    width: 62%;

    /* 90% of parent's width */
    padding-bottom: 62%;
    background-color: #c2eff8;
    z-index: -2;
}

/***************************************** Send section *******************************************/

.send-img {
  width: 90%;
}

.send-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;

  /* 90% of parent's width */
  padding-bottom: 90%;
  background-color: #f7ebd8;
  z-index: -2;
}

/***************************************** Invest section *******************************************/
.invest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem;
}

.invest-img {
  width: 70%;
  padding-bottom: 3rem;
}

.invest-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invest-img-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, 140%);
  display: flex;
  align-items: center;
}

.invest-img-item {
  width: 30%;
}

.invest-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;

  /* 60% of parent's width */
  padding-bottom: 50%;
  background-color: #d7f8eb;
  z-index: -2;
}

.contactUs {
  text-decoration: none;
  color: #40196d;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1.5px solid #40196d;
}

/***************************************** Cta section *******************************************/

.cta {
  position: relative;
  margin-top: 6rem;
  background-color: #eff1ff;
  border-radius: 9px;
  margin-bottom: 16rem;
  overflow: hidden;
}

.cta-items {
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .heading {
  font-size: 3.2rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #40196d;
}
.cta .description {
  font-size: 1.4rem;
  line-height: 1.5;
  
  margin-bottom: 2rem;
  color: #555;
}

.cta img {
  position: absolute;
  width: 50%;
  top: -50%;
  left: 50%;
  transform: rotate(-25deg);
}


/********************************************* FOOTER *******************************************************/

.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
}

.link-header {
  font-size: 1.4rem;
  font-weight: 700;
  color: #40196d;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 9px;
  color: #555;
  /* Only for btn */
  border: none;
  cursor: pointer;
}

.sort {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer2 {
  margin-top: 4.4rem;
  overflow: hidden;
}

.footer2 img {
  width: 10%;
  cursor: pointer;
}

.product {
  color: #aaa;
  font-size: 1.2rem;
  margin-top: 3rem;
  text-align: center;
}

.footer-img {
  margin-right: 1rem;
}

.footer3 {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  margin-top: 6rem;
  overflow: hidden;
}

.email {
  font-size: 1.6rem;
  letter-spacing: -1px;
  font-weight: bold;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-icon-wrapper {
  display: inline-block;
  border-radius: 100%;
  padding: 1rem;
  border: 1px solid #40196d;
  background-color: #f6f0f9e5;
  cursor: pointer;
}

.social-icon {
  color: #40196d;
  font-size: 1.2rem;
}

.address {
  font-size: 1.2rem;
  line-height: 1.3;
  color: #777;
}

.footer4 {
  color: #aaa;
  margin-top: 6rem;
  overflow: hidden;
}

.footer4 div {
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.4;
}